.newgame-container {
  margin-top: 50px;
}
.messages {
  height: 50vh;
  border: 1px solid lightgrey;
  margin-bottom: 30px;
  overflow-y: scroll;
}
.block-message {
  background-color: lightgray;
  height: 15px;

}
