<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 newgame-container">
      <div class="reloj">

      </div>
      <h3>Juego número {{newGame.id}}</h3>
      <div class="messages">
        <div *ngFor="let message of newGame.messages">
          <p >{{message}}</p>
        </div>
      </div>
      <div class="">
        <form class="form-inline">
          <div class="form-group">
            <label for="message"></label>
            <input type="text" class="form-control" id="message">
          </div>
          <button type="submit" class="btn btn-default" (click)="sendText()">Exviar</button>
        </form>
      </div>
    </div>
  </div>
</div>
