<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}!</h1>
</div>

<nav class="container btn-nav">
  <a class="btn btn-primary" routerLink="/gamesList">Lista de Juegos</a>
  <a class="btn btn-success" routerLink="/newGame" [class.hidden]="gameStatus && gameStatus[0].active === true"> Nuevo Juego </a>
  <a class="btn btn-success" routerLink="/showGame/{{gameStatus[0].nextgameid - 1}}" [class.hidden]="gameStatus && gameStatus[0].active === false">Juego en curso</a>
  {{gameStatus | json}}
</nav>
<router-outlet></router-outlet>
